*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 17px;
    font-family: monospace;
    padding: 1rem 2rem;
    background-image: linear-gradient(45deg, orange, yellow);
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 2rem;
    margin: 0 auto;
    position: relative;
}

#logo{
    height: 3rem;
}

#logo:hover{
    filter: blur(.05rem);
}

.time{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-family: monospace;
    font-weight: bold;
}

.imgControls{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
}

.imgControls img{
    height: 2rem;
    cursor: pointer;
}

.imgControls img:hover{
    filter:drop-shadow(0 0 2px blue);
    transform: scale(1.1);
    cursor: pointer;
}

.imgControls img:active{
    transform: scale(1);
}

hr{
    margin-block: 2rem;
    border-color: brown;
}

main{
    border: .2rem solid black;
    width: 90%;
    font-size: 1.1rem;
    padding: 1.5rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: space-evenly;
}

.cards{
    width: 4em;
    height: 5em;
    background-image: url("mystery.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: 50%;
    border: dashed 2px black;
}

.activeCards:hover{
    cursor: pointer;
    box-shadow: 1px 1px 5px black;
    opacity: .8;
}

.disabled{
    opacity: .5;
}

.disabledCards{
    opacity: .5;
}

#message{
    position: absolute;
    color: white;
    bottom: 0;
    font-size: .9rem;
    opacity: 1;
    /* visibility: hidden; */
    text-align: center;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
}

h1{
    text-transform: uppercase;
    font-style: italic;
    font-family: cursive;
}

section button{
    padding: .5rem;
    width: 7rem;
    background-color: white;
    text-align: center;
    border-radius: 2rem;
    border: 2px black solid;
    cursor: grab;
}

section button:hover{
    background-color: rgba(255, 255, 255, 0.7);
}

section button:active{
    cursor: grabbing;
    transform: scale(.9);
    background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 800px){
    main{
        font-size: 1rem;
        padding: 1.2rem;
        gap: 1.2rem;
    }
}

@media screen and (max-width: 600px){
    html{
        padding: 1rem;
    }
    header{
        width: 100%;
    }
    hr{
        margin-block: 1rem;
    }
    main{
        width: 100%;
        font-size: 1rem;
        padding: 1rem;
        gap: 1rem;
    }

    #logo{
        height: 2.5rem;
    }

    .imgControls img{
        height: 1.5rem;
    }
    #message{
        font-size: .7rem;
        margin: .1rem;
    }
}
